app/build/*
app/android/.gradle
radio65/build/*
*.user
.DS_Store
app/ios/Firebase/
app/Apple Push key info:
server/set_env.sh
server/config/joomla_api_key.txt
.ninja*
start.sh
Väin 0.5.6 android qr.png
android-0.5.6.svg
2raj22nud-mineviku-raadio.docx
.vscode/settings.json
app/android/src/main/assets/adi-registration.properties
app/.DS_Store
