<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTLjE5VN57BYVZhDbREwWc3lHOZ9JxexU</string>
	<key>GCM_SENDER_ID</key>
	<string>43305541336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.eccm.radio65</string>
	<key>PROJECT_ID</key>
	<string>radio1965-fbffd</string>
	<key>STORAGE_BUCKET</key>
	<string>radio1965-fbffd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43305541336:ios:66a730a16e6455891781ad</string>
</dict>
</plist>